<% if @books.none? %>
  <p>Nothing Found</p>
<% end %>
<% @books.each do |uuid, row| %>
  <p><%= row.book.title %> by <%= row.book.author %></p>

  <ul>
    <% row.existing.each do |file| %>
      <li><span class='file'><%= file %></span>
    <% end %>
  </ul>

  <ul>
    <% row.possibilities.each do |file| %>
      <li>
        <span class='file'><%= file %></span>
        <span class='action'>
          <%= react_component(
            'Injest',
            { filename: file, book_id: uuid, existing: row.existing.length > 0 }
          ) %>
        </span>
      </li>
    <% end %>
  </ul>
<% end %>